APP_NAME={{ project_name }}
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=storage/database.sqlite

CACHE_DRIVER=memory
QUEUE_CONNECTION=sync
MAIL_DRIVER=smtp
STORAGE_DRIVER=local

JWT_SECRET=change-me
